#wrapper {
    overflow: hidden;
}

.content {
    min-height: 70vh;
}

h1 {
    font-weight: 900;
    font-size: 90px;
    
    &.subtitle {
        font-size: 80px;
        background: linear-gradient(180deg, #00451A 0%, #00A84F 42.19%, #00A84F 58.33%, #00A84F 100%);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: linear-gradient(to bottom, rgba(0,168,79,1) 0%,rgba(0,177,83,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.hollow_text {

    color: $color-white;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $color-white;

}

@include media (max-width, 1023px){
    body {
        &.admin-bar {

            header .hsnav-s4{
                &.sticky {
                    top: 46px !important;
                }
            }

        }
    }

}

section {
    padding: 30px 0;

    &.hero {
        padding: 0;
    }
    &.button_section {
        padding-top: 0;
    }
}