
/* Header Sticky Nav Style 1 */
header {
	position: relative;
	z-index: 9999;
	
	
}

/* Header Sticky Nav Style 4 */
header {
	z-index: 9999;

	&.sticky-container{		
		position: absolute;
		top: 0;
	}
	
	&.overlap {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 999;
	}
	.hsnav-s4 {
		background: transparent;
		max-width: none !important;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			border-bottom: 1px solid rgba(255,255,255,0.3);
			width:74.2%;
		}
		
		&.sticky {
			position: absolute;
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
		}
		&.is-stuck {
			position: fixed;
			background: $color-white;
			box-shadow: 0 3px 6px 0 rgba($color-black, 0.16);
		}

		.topbar {
			background: lighten($color-black, 20%);
			color:$color-white;
			font-size: 16px;
			min-height: 40px;

			ul {
				margin: 0 -20px;
				padding: 0;
				li {
					list-style: none;
					display: inline-block;
					margin: 0;
					line-height: 1;
					padding: 0 20px;

					& + li {
						border-left: 1px solid rgba($color-white, 0.7);
					}
					a {
						display: inline-block;

						span {
							display: block;
							line-height: 1;
							padding: 5px 0 3px;
							color: $color-white;
							font-size: 13px;
							font-weight: normal;
							text-transform: uppercase;
							letter-spacing: 1px;
						}
					}
				}
			}

			.top-left {
				float: left;
				padding: 20px 0 0;
			}

			.top-right {
				float: right; 
				text-align: right;
				padding: 10px 0;
			}

			.top-slogan {
				text-transform: uppercase;
			}

			.top-phone {
				a {
					color:darken($color-white, 12.34);
					padding: 0;
					line-height: 25px;
					font-weight: bold;

					i {
						height: 25px;
					}
				}
			}


			@include media(max-width, 1023px) {
				
	

			}

			@include media(max-width, 767px) {
				.top-left {
					display: none;
				}
				.top-right {
					float: none;
					text-align: center;
				}
			}

			@include media(max-width, 639px) {
				font-size: 14px;
			}
		}


		.navbar {
			position: relative;
			min-height: 80px;

			.grid-container {
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
			}

			.logo, .navlogo {
				float: left;
				overflow: hidden;
			}

			.navmenu {
				
				li {
					padding: 0 40px;	
					a {
						font-family: $heading-font-family;
						font-size: 13px;
						font-weight: 400;
						text-transform: uppercase;
						padding: 30px 0;
						line-height: 1;
						color: $color-white;
						border-bottom: 1px solid transparent;
						letter-spacing: 0.1em;					
	
						&:hover {
							border-bottom: 1px solid $color-primary;
						}
	
					}
					
					&.current-menu-item {
						a {
							border-bottom: 1px solid $color-white;	
	
							&:hover {
								border-bottom: 1px solid $color-primary;
							}
						}
					}
				
				}
				.is-dropdown-submenu-parent > a:after {
					border:0;
					border-right: 2px solid;
					border-bottom: 2px solid;
					width: 8px;
					height: 8px;
					transform: rotate(45deg);
					right: 20px;
					margin-top: -6px;
				}

				.submenu {
					padding: 10px 0;
					li {
						display: block;
						a {
							padding: 15px 20px;
						}
					}
				}

				.nav-cta {
					a {
						background: $color-primary;
						color: $color-white;
						font-weight: bold;
					}
				}
			}
			
			.navicon {
				width: 50px; 
				height: 50px; 
				position: absolute;  
				right: 20px; 
				top: 14px; 
				font-size: 0; 
				cursor: pointer; 
				display: block;

				&:before {
					content: ""; 
					position: absolute; 
					border-top: 3px solid $color-primary; 
					border-bottom: 3px solid $color-primary; 
					left: 14px; 
					top: 16px; 
					width: 22px; 
					height: 19px; 
					transition: all 0.5s ease;
				}
				&:after {
					content: ""; 
					position: absolute; 
					border-top: 3px solid $color-primary; 
					left: 14px; 
					top: 24px; 
					width: 22px; 
					transition: all 0.5s ease;
				}
				@at-root header.show-menu .hsnav-s4 .navicon {
					&:before {
						box-shadow: none; 
						left: 14px; 
						top: 24px; 
						height: 3px; 
						transform: rotate(-45deg); 
						border-bottom: 0; 
					}
					&:after {
						width: 22px; 
						left: 14px; 
						top: 24px; 
						transform: rotate(45deg);
					}
				}

			}


			@include media(max-width, 1023px) {
				.mobmenu {
					position: fixed;
					top: -100vh;
					height: calc(100vh - 120px);
					left: 0;
					right: 0;
					background: $color-primary;
					transition:all 0.5s ease;
					overflow: auto;
					background: $color-white;

					ul {
						display: block;
						margin: 0;
						padding:10px 0; 
						width: 100%;

						li {
							text-align: left;
							display: block;
							margin: 0;
							border-top: 1px solid lighten($color-black, 90%);

							a {
								font-size: 14px; 
								line-height: 1.1; 
								font-weight: bold; 
								color:lighten($color-black, 44%); 
								text-transform: uppercase; 
								padding:16px 35px; 
								position: relative;

								&:before {
									position: absolute; 
									left: 25px; 
									top:50%; 
									margin-top:-22px; 
								}
							}
							ul {
								margin: 0;
								padding: 0;
								background:$color-white;
								li {
									a {
										padding-left: 45px;
										text-transform: none; 
										text-align: left; 
										color: lighten($color-black, 44%); 
									}
								}
							}
						}
					}

    				.submenu-toggle {
    					background:lighten($color-black, 90%)  url(../img/icn-plus.svg) no-repeat 17px center / 15px; 
    					width:55px; 
    					height: 47px; 
    					right: 0;

    					&[aria-expanded="true"] {
    						background-image: url(../img/icn-close-r.svg); 
    					}
    					&:after {
    						content: ""; border:0;
    					}
    				}
					
					@at-root header.show-menu .hsnav-s4 .mobmenu {
						display: block;
						top:120px;
					}

				}
			}
		}

	}
}


/* HERO STYLE 7 */
.hero-s7 {
	position: relative;

	.hero-slider {
		padding: 0;
		min-height: 100%;
		
		figure {
			position: relative;
			float:none;
			height: 100vh;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				height: 1080px;
				right: 0;
                background: $color-black;
				background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.7) 100%);
				background-blend-mode: multiply;


			}
			
			img {
				height: 100%;
				width: 100%;
				object-fit:cover;
			}
		}

		.slick-track {
			display: flex;
			flex-flow: row wrap;
			> div {
				float: none;
				flex: 0 0 auto;
				height: auto;
				
				img {
					height: 100%;
					width: 100%;
					object-fit:cover;
				}
			}
		}

		.slick-arrow {
			width: 255px;
			height: 100%;
			z-index: 999;
			background-size: 36px 70px;
			opacity: 0.1;
			transition: all 0.3s ease-in-out;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: all 0.3s ease-in-out;
			}

			&:hover {
				opacity: 1;
				&:before {
					opacity: 1;
				}
			}

			&.slick-next{				
			
				&:before{ 
					background: linear-gradient(90deg, rgba($color-black, 0) 0%, rgba($color-black, 0.65) 100%);
				}
			}

			&.slick-prev{

				&:before{ 
					background: linear-gradient(270deg, rgba($color-black, 0) 0%, rgba($color-black, 0.65) 100%);
				}

			}
		}
	}

	.hero-caption {
		position: absolute;
		color:$color-white;
		left: 0;
		right: 0;
		bottom: 60px;

		h1 {
			color: $color-primary;
		}

		h5 {
			line-height: 1.4;
		}
		h6 {
			font-weight: 400;
		}
		p {
			font-weight: 300;
		}

		.post_group_wrap {
			position: relative;
			left: -290px;
			width: 1000px;

			background: linear-gradient(0deg, #000000, #000000),linear-gradient(180deg, rgba(0, 28, 10, 0.8) 0%, rgba(0, 168, 79, 0.7) 100%);
			.post_group {					
				padding: 50px;
				display: flex;
				figure {				
					padding: 0 0.5rem 1rem;
				}
			}
		}
	}

	@include media(max-width, 1280px) {
		.hero-caption {
			padding: 120px 0 80px;
			font-size: 18px;
			h1 {
				font-size: 45px;
			}
		}
	}

	@include media(max-width, 1023px) {
		.hero-caption {
			padding: 100px 0 50px;
		}
	}
	
	@include media(max-width, 639px) {
		.hero-caption {
			font-size: 16px;
			h1 {
				font-size: 32px;
			}
		}
	}
}
