
/* Header Sticky Nav Style 1 */
header {
	position: relative;
	z-index: 999999;
	
	
}

/* Header Sticky Nav Style 4 */
header {
	z-index: 9999;
	
	&.overlap {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 999;
	}
	.hsnav-s4 {
		background: transparent;
		max-width: none !important;
		position: relative;
		z-index: 999999 !important;

		&.sticky {
			position: unset;
			left: 0;
			right: 0;
			top: 0;
		}
		&.is-stuck {
			position: fixed;
			background: rgba($color-black, 0.9 ) !important;
			box-shadow: 0 3px 6px 0 rgba($color-black, 0.16);
		}
		.topbar {
			background: lighten($color-black, 20%);
			color:$color-white;
			font-size: 16px;
			min-height: 40px;

			ul {
				margin: 0 -20px;
				padding: 0;
				li {
					list-style: none;
					display: inline-block;
					margin: 0;
					line-height: 1;
					padding: 0 20px;

					& + li {
						border-left: 1px solid rgba($color-white, 0.7);
					}
					a {
						display: inline-block;

						span {
							display: block;
							line-height: 1;
							padding: 5px 0 3px;
							color: $color-white;
							font-size: 13px;
							font-weight: normal;
							text-transform: uppercase;
							letter-spacing: 1px;
						}
					}
				}
			}

			.top-left {
				float: left;
				padding: 20px 0 0;
			}

			.top-right {
				float: right; 
				text-align: right;
				padding: 10px 0;
			}

			.top-slogan {
				text-transform: uppercase;
			}

			.top-phone {
				a {
					color:darken($color-white, 12.34);
					padding: 0;
					line-height: 25px;
					font-weight: bold;

					i {
						height: 25px;
					}
				}
			}


			@include media(max-width, 767px) {
				.top-left {
					display: none;
				}
				.top-right {
					float: none;
					text-align: center;
				}
			}

			@include media(max-width, 639px) {
				font-size: 14px;
			}
		}


		.navbar {
			position: relative;
			min-height: 80px;

			.grid-container {
				display: flex;
				align-items: flex-end;
				justify-content: space-between;

				@include media (max-width, 1023px){
					align-items: center;
					justify-content: normal;
					padding: 0;
				}
			}

			.logo, .navlogo {
				float: left;
				overflow: hidden;
			}

			.navlogo.hide-for-large {
				&.show-menu {
					display: none;
				}
			}

			.navleft {
				position: relative;
						
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 100%;
					width: calc((100vw - -910px) / 2);
					border-bottom: 1px solid rgba(255,255,255,0.3);
					
					@include media(max-width, 1440px){
						width: calc(100vw - 120%);
					}
				}
				
			}

			.navmenu {
				
				li {
					padding: 0 40px;	
					a {
						font-family: $heading-font-family;
						font-size: 13px;
						font-weight: normal;
						text-transform: uppercase;
						padding: 30px 0;
						line-height: 1;
						color: $color-white;
						border-bottom: 1px solid transparent;
						letter-spacing: 0.1em;					
	
						&:hover {
							border-bottom: 1px solid $color-primary;
						}
	
					}
					
					&.current-menu-item {
						a {
							border-bottom: 1px solid $color-white;	
	
							&:hover {
								border-bottom: 1px solid $color-primary;
							}
						}
					}

					&:last-child {
						padding-right:0;
					}
				
				}
				.is-dropdown-submenu-parent > a:after {
					border:0;
					border-right: 2px solid;
					border-bottom: 2px solid;
					width: 8px;
					height: 8px;
					transform: rotate(45deg);
					right: 20px;
					margin-top: -6px;
				}

				.submenu {
					padding: 10px 0;
					li {
						display: block;
						a {
							padding: 15px 20px;
						}
					}
				}

				.nav-cta {
					a {
						background: $color-primary;
						color: $color-white;
						font-weight: bold;
					}
				}
			}
			
			.navicon {

				&:before {
					content: ""; 
					position: absolute; 
					border-top: 2px solid $color-white; 
					width: 22px; 
					transition: all 0.5s ease; 
					right: 26px;
					top: 22px;
				}
				&:after {
					content: ""; 
					position: absolute; 
					border-top: 2px solid $color-white; 
					border-bottom: 2px solid $color-white; 
					width: 16px; 
					top: 30px;
					height: 10px;
					transition: all 0.5s ease;
				}
				@at-root header.show-menu .hsnav-s4 {

					.navlogo.hide-for-large {
						&.show-menu {
							display:block; 
						}
						&:not(.show-menu){
							display: none;
						}
					}

					.navbar {						
						background: #000 !important;
					}

					.navemail,
					.navphone {
						background: #1f1f1f !important;
					}

				}

				@at-root header.show-menu .hsnav-s4 .navicon {
					background: #A80000 !important;

					&:after {
						box-shadow: none; 
						top: 30px;
						left: 24px; 
						height: 2px; 
						transform: rotate(-45deg); 
						border-bottom: 0; 
						width: 22px; 
					}
					&:before {
						width: 22px; 
						top: 30px;
						left: 24px; 
						transform: rotate(45deg);
					}
				}

			}


			@include media(max-width, 1023px) {				

				min-height: 60px;
				background: $color-white;

				.navleft {
					float: left;
					width: 55%;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-ms-flex-flow: wrap;
					flex-flow: wrap;
					margin-left: 30px;
				}
				
				.navright {
					float: right;
					width: 50%;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-pack: end;
					-ms-flex-pack: end;
					justify-content: flex-end;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-ms-flex-flow: wrap;
					flex-flow: wrap;

					.navutil {
						position: relative;
    					margin: 0;
						display: flex;

						a {
							position: relative;
							font-size: 0;
							margin: 0 1px;
							font-weight: bold;
							width: 70px;
							height: 60px;
							text-transform: uppercase;
							background: #efefef;
							display: flex;
							justify-content: center;
							align-items: center;

							&.navicon {
								background: linear-gradient(180deg, #00451A 0%, #00A84F 100%);
								margin-left: -1px;
								margin-right: -1px;
							}
						}
					}
				}
				
				.mobmenu {
					position: fixed;
					right: -100%;
					transition:all 0.5s ease;
					overflow: auto;
					background: $color-black;
					top: 60px;
					width: 100%;
					height: 100vh;

					ul {
						display: block;
						margin: 0;
						padding:60px 0 0; 
						width: 100%;

						li {
							text-align: left;
							display: block;
							margin: 0;

							a {
								font-size: 13px; 
								line-height: 1.1; 
								font-weight: 400; 
								color: $color-white; 
								text-transform: uppercase; 
								padding:16px 35px; 
								position: relative;
								padding-left: 60px !important;

								&:before {
									content: '';
									position: absolute;
									background-size: 26px 20px;
									width: 26px;
									height: 20px;
									background-repeat: no-repeat;
									background-image: url(../img/icon/icn-double-chev-right.svg) !important; 
									display: inline-block;
									margin-right: 10px;
									left: 23px;
									top: 30%;
								}
							}
							ul {
								margin: 0;
								padding: 0;
								background:$color-white;
								li {
									a {
										padding-left: 45px;
										text-transform: none; 
										text-align: left; 
										color: lighten($color-black, 44%); 
									}
								}
							}
						}
					}

    				.submenu-toggle {
    					background:lighten($color-black, 90%)  url(../img/icn-plus.svg) no-repeat 17px center / 15px; 
    					width:55px; 
    					height: 47px; 
    					right: 0;

    					&[aria-expanded="true"] {
    						background-image: url(../img/icn-close-r.svg); 
    					}
    					&:after {
    						content: ""; border:0;
    					}
    				}

					.contact_info {
						margin: 160px 20px 0;
					}
					
					@at-root header.show-menu .hsnav-s4 .mobmenu {
						display: block;
						right: 0;
					}

				}
			}
		}
			
		@include media(max-width, 1023px) {
			background: $color-white;
			height: 60px;

			&.is-anchored {
				position: fixed;
			}

			&:after {
				display: none
			}


			&.is-stuck {
				top: 0 !important;

			}
		}


	}

	@include media (max-width, 1023px){
		
		&.sticky-container {
			position: unset !important;
		}
	}
}


/* HERO STYLE 7 */
.hero-s7 {
	position: relative;
	height: 100vh;

	.hero-slider {
		padding: 0;
		min-height: 100%;
		
		figure {
			position: relative;
			float:none;
			height: 100vh;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				top: 0;
				height: 100%;
				right: 0;
                background: $color-black;
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
				background-blend-mode: multiply;
			}
			
			img {
				height: 100%;
				width: 100%;
				object-fit:cover;
			}
		}		

		.slick-dots {
			display: none !important;			
			position: absolute;
			bottom: 10%;
			left: 0;
			right: 0;
			text-align: center;
		}

		.slick-track {
			display: flex;
			flex-flow: row wrap;
			> div {
				float: none;
				flex: 0 0 auto;
				height: auto;
				
				img {
					height: 100%;
					width: 100%;
					object-fit:cover;
				}
			}
		}

		.slick-arrow {
			background: none!important;
			width: 255px;
			height: 100%;
			z-index: 99999;
			background-size: 36px 70px;
			opacity: 1;
			transition: all 0.3s ease-in-out;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				opacity: 0.4;
				transition: all 0.3s ease-in-out;
			}

			&:hover {
				&:before {
					opacity: 1;
				}
			}

			&.slick-next{				
			
				&:before{ 
					background: linear-gradient(90deg, rgba(64, 65, 65, 0) 0%, rgba(0, 26, 10, 0.65) 100%) , url(../img/icon/icn-slick-chev-right.svg) no-repeat center !important;
					
				}
			}

			&.slick-prev{

				&:before{ 
					background: linear-gradient(270deg, rgba(64, 65, 65, 0) 0%, rgba(0, 26, 10, 0.65) 100%) , url(../img/icon/icn-slick-chev-left.svg) no-repeat center !important;
					
				}

			}
		}
	}

	.hero-caption {
		position: absolute;
		color:$color-white;
		left: 0;
		right: 0;
		bottom: 60px;
		z-index: 999;

		h1 {
			color: $color-primary;
		}

		h5 {
			line-height: 1.4;
		}
		h6 {
			font-weight: 400;
		}
		p {
			font-weight: 300;
		}

		.col-btn,
		.cta-group {
			display:flex;
			align-items: center;

			.button {
				margin-left: 5px;
				margin-right: 5px;
			}
		}

		.col-btn { 
			position: absolute;
			right: 0;
			bottom: 60px;
			padding-left: 5%;
		}
		
		.text-group {
			flex-direction: column;
			display: flex;
			width: 100%;
			position: relative;
			margin-left: -5px;
	
			a {
				display: flex;
				color: $color-white;
				font-family: $heading-font-family;
				font-weight: normal;
				font-size: 16px;
				letter-spacing: 1px;
				margin: 15px 0 15px 15px;
	
				span {					
					margin-right: 10px;
				}
			}
			
				
			&:before {
				content: '';
				height: 2px;
				background: linear-gradient(0deg, $color-primary , $color-primary ),linear-gradient(90deg, $color-primary 0%, $color-primary 100%);
				position: absolute;
				width: 100%;
				top: 50%;
				right: 0;
			}
		}

		.title_group {
			margin-bottom: -55px;

			h1 {
				&.maskPlay {					
					mask: url(../img/square-mask.jpg);
					-webkit-mask-image: url(../img/square-mask.jpg);
					-webkit-mask-size: 2300% 100%;
					mask-size: 2300% 100%;
				}
			}
		}
		.button {
			min-width: 180px;
			margin-bottom: 0!important;
		}		

		.post_group_wrap {				 

			&:before{ 
				content: '';
				position: absolute;
				z-index: -1;
				left: 0;
				bottom: 0;
				height: 70%;
				width:calc((100vw - 40px) / 2);
				background: $color-black;
				background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%);
			}

			.post_group {		
				padding: 65px 40px 50px 0;
				width: 100%;
				position: relative;
			}

			h4 {
				&.label {
					background: transparent;
					text-transform: uppercase;
					font-family: $heading-font-family;
					font-weight: 400;
					letter-spacing: 1px;

					&.recent_label {
						transform:  rotate(-90deg);
						font-size: 13px;
						position: absolute;
						left: -100px;
						top: 42%;

						@include media (max-width, 1024px){								
							transform:  rotate(0);
							left: -10px;
							top: auto;
							bottom: 30px;
						}
					}

					&.viewMore_label {
						font-size: 12px;
						text-align: right; 
						width: 100%;
						margin-bottom: 0;
						width: 100%;
						padding: 20px 30px 0;
						a {
							color: $color-white;

							&:hover{
								color: $color-primary;
							}
						}
					}
				}
			}
		}
	}

	@include media(max-width, 1280px) {
		.hero-caption {
			padding: 50px 0 0px;
			font-size: 18px;
			h1 {
				font-size: 45px;
			}
		
		}
	}

	@include media(max-width, 1023px) {

		height: 100%;
		display: flex;
		flex-direction: column;

		.hero-caption {
			padding-top: 30px;
			padding-bottom: 20px;
			position: unset;

			h1.hollow_text {
				font-size: 13vw;
			}

			h1.subtitle {
				font-size: 11vw;
			}

			.post_group_wrap{ 
				&:before {
					display: none;
				}

					
				.post_group {	
					h4 {
						&.label {
							&.recent_label {
								bottom: 28px; 
								top: auto;
								left: -13px;
							}
						}
					}
				}
			}
			.title_group {
				margin-bottom: 0;
			}
		}

		.hero-slider {
			figure {
				height: 300px;

				&:before {
					display: none;
				}
			}
			.slick-arrow {
				display: none !important;
			}
			.slick-dots {
				display: block !important;
			}
		

		}
		
	}
	
	@include media(max-width, 639px) {
		.hero-caption {
			font-size: 16px;
			h1 {
				font-size: 32px;
			}
		}
	}

	@include media(max-width, 1919px) {
		.hero-caption {

			.text-group {
				&:before{
					right: auto;
				}
			}

			.col-btn { 
				padding-left: 0;
				.buttons {
					.button {
						min-width: 140px;
					}
				}
			}
		}
	}

	@include media(max-width, 1440px) {
		.hero-caption {

			.text-group {
				a {
					margin: 15px;
				}
			}
		}
	}	
	
	@include media(max-width, 1024px) {
		.hero-caption {

			.text-group {
				flex-direction: row;

				a {
					font-size: 14px;
				}

				&:before{
					display: none;
				}
			}

			.col-btn { 
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				
				.buttons {
					.button {
						min-width:200px;
					}
				}
			}
		}
	}
}
