

.company{

    .our_company {
        padding-bottom: 0;
        margin-top: -200px;

        .cols2-s4 {
            padding: 0;
            .col-image {                    
                margin-left: 0;
                margin-right: calc((-100vw - -1300px) / 2);
            }
        }
    }
        
    .about_company {
        position:relative;
        z-index: -1;
        padding: 0;

        .col-copy {
            background: rgba(64, 65, 65, 0.5);
            margin-left: 20px;
            margin-right: calc((-100vw - -860px) / 2) !important;
            .text-group {
                width: 70%;
                padding: 80px 70px 40px;
            }
        }
        .cols2-s4 {
            padding-bottom: 0;
        }
    }

    .our_team {
        padding: 0;

        .cols2-s4 {
            padding-bottom: 0;
            background: rgba(0,0,0,0.78);
            
            .col-image {
                margin-left: 20px;
                margin-right: calc((-100vw - -888px) / 2) !important;
        
                img {
                    width: 100%;
                }
            }

            .text-group {
                padding-left: 20px;
            }
        }
    }


    .float_img {

        &.about_1 {
            right: 0;
        }

        &.about_2 {
            top: -20%;
            left: 0;
        }
    }
}


@include media(max-width, 1440px){
        
    .company {
            
        .our_company {
            margin-top: 0;

        }

    }
}


@include media(max-width, 1280px){
    .company {
        
        .our_company {
            .col-image {
                margin: 0px -40px 0 0 !important;
            }
        }
    }
}

@include media (max-width, 1024px){
    .company {

        .our_team {
            .grid-container {
                padding: 0 !important;
            }
            .cols2-s4 {
    
                .col-image {
                    height: 220px;
                    margin: 0 !important;

                    img {         
                        object-fit: cover;
                        height: 100%;
                    }
                }
            }
        }
    }
}

@include media (max-width, 1023px){
    .company {
        
        .our_company {
            margin-top: 0;

        }

        .our_team {
            .grid-container {
                padding: 0 30px !important;
            }
            .cols2-s4 {
                background-color: transparent;
                .text-group {
                    padding: 20px 0;
                }
    
                .col-image {
                    margin-left: 0;
                    margin-right: 0 !important;
                }
            }
        }

        .about_company {
    
            .col-copy {
                background: transparent;
                margin-left: 0;
                margin-right: 0 !important;
                .text-group {
                    width: 100%;
                    padding:20px 0;
                }
            }
            .cols2-s4 {
                padding-bottom: 0;
            }
        }

    }

}
