
.page-template-contact {
    header.sticky-container {
        position: absolute;
        left: 0;
        right: 0;
    }

    .footer {
        position: unset;
    }
    
}
.map_bg {

    figure.map {
        height:100%;

        img{
            height: 100%;
            object-fit: cover;
        }
    }

    .map_content {
        position: absolute;
        box-sizing: border-box;
        overflow: hidden;
        top: 47%;
        left: 54%;
        transform: translate(-50%,-100%);
        max-width: 320px !important;
        padding: 0px !important;
        border-radius: 8px;

        &:before {
            content: url('../img/icon/icn-map-caret.png');
            position: absolute;
            bottom: 50px;
            text-align: center;
            left: 45%;
        }
    }

    .map_pin {
        text-align: center;
    }

    .map_content_inner {
        box-shadow: 0 2px 7px 1px rgba(105, 81, 81, 0.3);
        background-color: white;
        border-radius: 8px;
        width: 320px;
        height: 238px;
        padding: 0;
        margin-bottom: 20px;
    
        .map_location {            
            letter-spacing: 0.1em;
            height: 87px;
            color: #777;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .icon_blurb {
                align-items: flex-start;

                .icon_txt {
                    font-size: 14px;
                }

            }
        }
        .map_img {
            text-align: center;
            width: 100%;
            height: 150px;
            padding: 20px 0;
            background: linear-gradient( 90deg, #0F4D4D 0%, #0C3E3E 48%, #0A3333 100%);
        }
    }     
    .gm-style-iw {
        max-width: 320px !important;
        padding: 0px !important;
    }
    .gm-style-iw-d {
        overflow: auto !important;
    }

    @include media (max-width, 1023px){
        .map_content_inner { 
            left: 50%;
            top: 70%;
        }
    }
}

.contact {
    min-height: 120vh;

    &.content {
        padding-bottom: 0;
    }

    .sec-contact {
        padding: 0;
        height: 120vh;
        position: relative;
        margin-top: 50px;

        .map_bg{
            width: 100%;
            height: 100%;
            position: unset !important;
            top: 0;
            right: 0;
            -webkit-mask-image: -webkit-gradient(linear, left 30%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
            z-index: -1;
        }

        .map_content{   
                        
        }
    
        .map_caption {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 999;

            .grid-x {
                align-items: flex-end;
            }
        
            .contact_form {
                background: rgba(0,0,0,0.9);   
                padding: 50px;

                h3 {
                    color: $color-primary;
                    font-family: $body-font-family;
                    font-size: 32px;
                    font-weight: 300;
                    
                }
                                
                #field_1_4 {

                    .gfield_label  {
                        display: none;
                    }

                }

                select {
                    background: url(../img/icon/icn-chev-down.svg) no-repeat 90% 50% rgba(255, 255, 255, 0.05) !important;
                }
            }

            .col-blurb {
                display: flex;
                background: rgba(64, 65, 65, 0.9);

                .text-wrap{
                    padding: 35px;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    
                    .icon_blurb {    
                        align-items: flex-start;        

                        .icon_img {
                        }

                        .icon_txt {
                            color: $color-white;
                            font-family: $heading-font-family;
                            font-size: 16px;
                            letter-spacing: 0.1em;
                        }
                    }
                }
            }    
        }

    }


    @include media (max-width, 1024px){        
    
        .sec-contact {
            padding: 0;
            height: 100vh;
        }
    }

    @include media (max-width, 1023px){        
    

        &.content {
            padding: 0;
        }
        .sec-contact {
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 0;

            .map_bg {
                order:2;
                position: relative !important;
                height: 520px;
                z-index: 999;
                -webkit-mask-image: none;
            }
            .map_caption {
                order: 1;
                position: unset;
                .grid-container {
                    padding: 0 !important;
                }

                .col-blurb {
                    background: #000;
                    .col-img {
                        display: none;
                    }
                    .text-wrap {
                        .icon-blurb {
                            .icon_txt {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .ginput_container_address .ginput_address_city, .ginput_container_address .ginput_address_state, .ginput_container_address .ginput_address_zip {
                    width: 48%;
                }
            }
        }
    }

}

