.home {
    background: $color-black;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden; 
    
    .sticky-container {
        position: absolute;
        top: 0;
        width: 100%;
        margin: 0 auto;
    }

    footer {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999999;
    }

    .post_slider {
        display: flex;
        flex-flow: row wrap;

        &.slick-slider{
            padding: 0 !important;
            width: 100%;

            .slick-active {
                &:last-child {
                    padding-right: 0;
                }
            }

            .slick-arrow {
                display: block;
                right: -30px;   
                top: auto;   
                left: auto; 
                opacity: 1;
                z-index: 2;

                &.slick-next {
                    top: 60%;         

                    @include media (max-width, 1024px){
                        top: 45%;
                    }
                }

                &.slick-prev {
                    bottom: 0;   
                }

        
                @include media (max-width, 1023px){				
                    right: 12px;
                    &.slick-next {
                        top: 60%;   
                    }
    
                    &.slick-prev {
                        bottom: 15%;   
                    }
                }
            }

            .button {
                width :100%;
            }
        }
    }

    .recent_projects {
        h4 {
            font-family: $heading-font-family;
            font-size: 13px;
            letter-spacing: 1px;
            line-height: 1.4;
            color: $color-white;
            text-transform: uppercase;
            font-weight: 400;
        }
    }

    @include media (max-width, 1023px){
        overflow: auto;
        height: auto;

        .text-group {            
            align-items: center;
        }

        header {
            .hsnav-s4 {

                .navbar {
                    background: $color-white;
                    min-height: auto;
                }
            } 
        }
        footer {
            position: unset;
        }
    }

}