
.portfolio {

    .portfolio_about {
        padding: 0;

        .cols2-s4 {

            padding-bottom: 0;
            height: 120px;
            justify-content: center;
        }

        .grid-container {            
            display: flex;
            align-items: center;
            height: 120px;
        }
    }

    .portfolio_items {
        background: rgba(0,0,0,0.5);
        padding: 20px 0 40px;

        select {            
	        background:  url(../img/icon/icn-3dots.svg) no-repeat center right 6px/20px 20px rgba(255,255,255,0.1) !important; 

            &:focus {
                
	            background:  url(../img/icon/icn-3dots.svg) no-repeat center right 6px/20px 20px rgba(255,255,255,0.1) !important; 
            }
        }

        .tiny {
            font-family: $heading-font-family;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: #AAAAAA;
        }

        .grid-slick {
            padding: 0;
        }
        

        .button-group {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            
            .button {
                font-family: $heading-font-family;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 0.3em;
                color: $color-white;
                background: rgba(64, 65, 65, 0.6);
                padding: 5px 10px;
                border-radius: 5px;

                &:hover {
                    background: linear-gradient(90deg, #0F4D4D 0%, #0C3E3E 48%, #0A3333 100%);
                }

                &.is-checked{
                    background: $color-primary;
                }
            }
        }

        .grid {
            display: flex;
            flex-wrap: wrap
        }

        .portfolio_item {
            width: 25%;
        }

        .project_wrap {
            padding: 10px;
        }

    }

    @include media (max-width, 1024px){        
    
        .portfolio_items {
            .portfolio_item {
                width: 50%;
            }

        }

    }

    @include media (max-width, 1023px){        
    
        .portfolio_items {
            .portfolio_item {
                width: 100%;
            }

        }

    }


}

//single portfolio

.single-projects_type {
    background: #111 !important;
}

.single-portfolio {
    position: relative;

    .float_line {
        position: absolute;
        top: 5%;
        left: 40%;
        z-index: -1;
        height: 100%;
        width: 1px;
        background: rgba(255, 255, 255, 0.1);
    }


    .single_port {
        padding-top: 150px;
        padding-bottom: 0;
    }

    .col-header {
        padding-bottom: 60px;

        h3 {
            font-family: $body-font-family;
            font-size: 32px;
            font-weight: 300;
            margin-bottom: 0;
        }
    }

    .col-featimg {
        .featured_img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .col-gallery {
        padding-bottom: 80px;

        .project_gallery{            
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 1em;

            .gallery {
                width: 49.5%;
                height: 700px;

                .gallery_img{
                    width: 100%;
                    height: 700px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                                

                &:last-child {
                    width: 100%;
                }

                &:not(:last-child) {
                    flex: 1;
                }
            }
        }
    }

    .col-content {
        position: relative;
        padding-top: 60px;
        padding-bottom: 120px;

        .grid-container {
            position: relative;
        }

        .float_text {
            font-family: $heading-font-family;
            transform: rotate( -90deg );
            height: 16px;
            top: 33%;
            left: -8%;
            font-size: 13px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $color-white;

            &:before {
                content: '';
                width: 100%;
                height: 1px;
                position: absolute;
                background: rgba(255, 255, 255, 0.1);
                left: -110%;
                top: 50%;
            }
        }
        
        .address {
            font-size: 18px;
            font-weight: 400;
        }

        .category_title {
            font-family: $heading-font-family;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.02em;
            
        }
        .button {                
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.3em;
            color: #fff;
            background: rgba(64, 65, 65, 0.6);
            padding: 5px 15px;
            border-radius: 5px;
        }

        .col-copy {
            h3 {
                font-family: $body-font-family;
                font-size: 24px;
                font-weight: 300;
                line-height: 36px;
                color: $color-white;
            }
        }
    }

    .col-moreProjects {
        border-top:1px solid rgba(255, 255, 255, 0.1);
        border-bottom:1px solid rgba(255, 255, 255, 0.1);
        padding: 40px 0 130px;

        .project_item {
            width: 50%;
        }
    }

    @include media (max-width, 1600px) {
        
        .col-content {

            .float_text {
                left: -3%;
            }

            .col-info {
                padding-left: 50px
            }
            
        }
    }

    @include media (max-width, 1023px){
                
        
        .col-content {

            .float_text {
                left: -5%;
            }

            .col-info {
                padding-left: 50px
            }
            
        }

        .float_line {
            display: none;
        }

        .single_port {
            padding-top: 0;
            padding-bottom: 0;
        }

        .col-gallery {
            .project_gallery {
                .gallery {
                    width: 100%;
                    height: auto;
    
                    .gallery_img{
                        width: 100%;
                        height: auto;
    
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    &:not(:last-child) {
                        flex: none;
                    }
                }
            }
        }

        .col-header {
            h3 {
                font-size:22px;
            }
        }

        .col-moreProjects {
            border: 0; 
            padding-bottom: 30px;

            .project_item {
                width: 100%
            }

            .col-image {
                padding: 60px 0 40px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }

            .more_projects {
                padding-left: 10px;
            }

            .project_thumb figure {
                height: auto;
            }

            .back_btn_wrap {                
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                padding: 30px 0;

                .cell {                    
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}