
.services {

    .float_img {
        
        &.about_2 {
            bottom: -60px;
            left: -5%;
            width: 40%;

        }
    }

    .contact_info {
        padding-top: 5px;
        position: relative;

        .text-group {
            align-items: center;
        }

    }

    .services_about {
        padding-top:0;

        .col-image {
            margin-top: 80px;
        }

        .title_group {
            
            margin-top: -50px;
        }

        .cell {

            &:not(.col-copy) {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .col-image {
                    width: 80%;
                }
            }

        }
    }

    .services_items {
        color: #ffffff;

        h2 {
            color: #ffffff;
        }

        .col-item {
            background: #222;
            padding: 7% 10%;
            border: 1px solid #404141;

            .icon_blurb_wrap {
                position: relative;
                min-height: 600px;
            }

        }

        .button {
            position: absolute;
            bottom: 0;
            color: $color-primary !important;

            &:hover {
                color: $color-white !important;
            }
        }

    }

    @include media (max-width, 1048px){
        .services_items {
            h2 {
                font-size: 30px;
            }
    
        }
    }

    @include media (max-width, 1024px){
        .services_items {
            h2 {
                font-size: 20px;
            }
    
        }
    }

    @include media (max-width, 1023px){
        p {
            color: #E1E1E1;
        }

        figure {
            &.bg {
                position: relative;
                right: -30px;
            }
        }

        h1.hollow_text {
            font-size: 13vw;
        }

        h1.subtitle {
            font-size: 11vw;
        }

        .services_about {
            .cell {
                padding-top: 30px;
                position: relative;

                &:not(.col-copy) {
                    align-items: normal;
    
                    .col-image {
                        width: 70%;
                        position: absolute;
                        top: 27%;
                        z-index: -1;
                    }
                }
    
            }
        }

        .button {
            width: 100%;
        }

        .services_items {

            .title_group {
                margin-top: -100px;
            }

            .cell {
                padding-top: 30px;
            }
        }
    
    }

    @include media (max-width, 768px){
        section {
            padding:0;
        }

        .services_about {
            .title_group {
                margin-top: -30px;
            }

            .cols2-s4 {
                padding-bottom: 0;
                padding-top: 0;
            }
        }
    }

}